.button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
  background-color: #7accbc;
  color: white;
  border: none;
  border-radius: 0%;
  text-transform: uppercase;
  outline: none;
  box-shadow: none;
  font-size: 0.8rem;
}

.button:hover {
  cursor: pointer;
  background-color: #1fa792;
}

/* .button:disabled {
  cursor: initial;
  background-color: initial;
  font-weight: initial;
} */
