.formupload-label-file {
    cursor: pointer;
    display: flex;
    -ms-flex-align: right;
    align-items: right;
    text-transform: uppercase;
    font-size: 0.85rem;
    flex-basis: auto;
    margin-left: 0.6rem;
}

.formupload-label-file span {
    color: #1fa792;
}

.picto-add-file {
    padding-right: 0.3rem;
    font-size: 0.95rem;
    color: #1fa792;
}

.formupload-input-file {
    display: none;
}

.delete-file {
    cursor: pointer;
    color: #1fa792;
    font-size: 1.1rem;
    padding-left: 0.5rem;
}

.error-upload {
    color: red;
    padding-top: 0.2rem;
    font-size: 0.8rem;
}
