.header {
  background: transparent;
  z-index: 100;
  color: #1fa792;
  /* width: 100vw; */
  height: 20vh;
  display: flex;
}

.header-site-logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-site-logo-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #1fa792;
}

.logo-litta {
  width: auto;
  height: 14vh;
  margin: 0 1rem 0 2.5rem;
}

.name-litta :first-child {
  font-size: 2rem;
}

.name-litta :last-child {
  font-size: 0.9rem;
  font-weight: 300;
}

.header-site-logout {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
