.home-admin-menu {
  /* width: 100vw; */
  height: 38vh;
  display: flex;
  cursor: pointer;
}

.home-student-menu {
  width: 100vw;
  min-height: 75vh;
  display: flex;
  cursor: pointer;
}

.home-student-menu-block-linkto {
  width: 50%;
}


.home-student-menu-currentmissions, .home-student-menu-oldmissions {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.home-student-menu-currentmissions p, .home-student-menu-oldmissions p {
  color: white;
}

.home-student-menu-currentmissions {
  background-color: #7accbc;
}

.home-student-menu-oldmissions {
  background-color: #a1e5d8;
}

.home-admin-menu-linkto-block1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-admin-menu-linkto {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-admin-menu div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-admin-missionslist {
  background-color: #7accbc;
}

.home-admin-missionslist p {
  color: #fff;
}


.home-admin-lawyerslist {
  background-color: #a1e5d8;
}

.home-admin-lawyerslist p {
  color: #fff;
}

.home-admin-studentslist {
  background-color: #8eddce;
}

.home-admin-studentslist p {
  color: #fff;
}
