.buttons-mission {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 2rem;
}

.mission-container {
  display: flex;
  justify-content: center;
}
.mission-content{
  width: 55%;
}

.mission-infos-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-title-id {
  padding: 1rem;
  /* line-height: 0.5; */
}

.mission-block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5rem;
  background: #8eddce;
  color: white;
  padding: 1rem;
  text-align: center;
  margin: 0.035rem;
}

.mission-block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5rem;
  background: #8eddce;  
  color: white;
  padding: 1rem;
  text-align: center;
  margin: 0.035rem;

}

.mission-deadline-price {
  display: flex;
}

.mission-student-block {
  display: flex;
  width: 100%;
  align-content: center;
  padding: 1rem 0;
}

.mission-student-name {
  width: 100%;
  display: flex;
  justify-content:center;
  text-align: center;
  margin: 0;
  /* padding: 0.3rem 0;
  background-color: #8eddce; */
  /* color: white; */
}

.mission-student-message {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

/* .mission-student-message button {
  background-color: #add;
}

.mission-student-message button:hover {
  background-color: #1fa792;
} */

.mission-student-doc-upload {
  width: 33%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.mission-student-finished {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}

.separator {
  border: none;
  height: 0.1rem;
  background-color: #8eddce;
}

/* .separator2 {
  border: none;
  height: 0.1rem;
  background-color: #8eddce;
} */

.mission-files-onefile {
  display: flex;
  width: 100%;
  padding-bottom: 0.3rem;
}

.mission-files-onefile div:first-child {
  width:85%;
  overflow: hidden;
}

.mission-files-onefile div:last-child {
  width:15%;
  display: flex;
  justify-content: flex-end;
}

.mission-files-title {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
}

.mission-files-title hr {
  background-color: #1fa792;
  min-width: 58%;
  max-width: 73%;
  height: 1px;
  border: none;
  padding-right: 0.1rem;
}

.mission-files-title p {
  color: #1fa792;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  width: 27%;
}

.mission-files-newfile {
  width: 15%;
  margin: -0.7rem 0 0 0;
  padding-left: 0.5rem;
  box-sizing: content-box;
}

.icons {
  color: #8eddce;
  font-size: 1.15rem;
}

.icons-circle {
  color: #8eddce;
  font-size: 0.3rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}