.buttons-mission {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 2rem;
}

.mission-container {
  display: flex;
  justify-content: center;
}
.mission-content{
  width: 55%;
}

.mission-infos-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-title-id {
  padding: 1rem;
}

.mission-block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5rem;
  background: #8eddce;
  color: white;
  padding: 1rem;
  text-align: center;
  margin: 0 0.035rem 0.035rem 0;
}

.mission-block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 5rem;
  background: #8eddce;  
  color: white;
  padding: 1rem;
  text-align: center;
  margin: 0 0 0.035rem 0.035rem;
}

.mission-deadline-price {
  display: flex;
}

.mission-student-block {
  display: flex;
  width: 100%;
  align-content: center;
  padding: 1rem 0;
}

.mission-student-name {
  width: 100%;
  background-color:  #8eddce;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 0.6rem 0;
}

.mission-student-message {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.mission-student-doc-upload {
  width: 33%;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.mission-student-finished {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem;
}

.separator {
  border: none;
  height: 0.1rem;
  background-color: #8eddce;
}

.mission-files-onefile {
  display: flex;
  width: 100%;
  padding-bottom: 0.3rem;
}

.mission-files-onefile div:first-child {
  width:85%;
  overflow: hidden;
}

.mission-files-onefile div:last-child {
  width:15%;
  display: flex;
  justify-content: flex-end;
}

.mission-files-title {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
}

.mission-files-title hr {
  background-color: #1fa792;
  height: 1px;
  border: none;
  margin-left: 0.5rem;
  display: flex;
  flex-grow: 2;
}

.mission-files-title p {
  color: #1fa792;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  flex-basis: auto;
}

.icons {
  color: #8eddce;
  font-size: 1.15rem;
  padding-left: 0.5rem;
}

.icons-circle {
  color: #8eddce;
  font-size: 0.3rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.missions-messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missions-messages-title {
  background-color: #8eddce;
  width: 100%;
  text-align: center;
  color: white;
  padding: 0.3rem 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 4rem 0 2.3rem 0;
  box-sizing: border-box;
}

.mission-nocontentyet {
  text-align: center;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5)
}

.mission-files-delete-confirm {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.mission-files-delete-confirm p:first-of-type {
  text-transform: uppercase;
  color: #1fa792;
  font-size: 0.9rem;
}

.mission-files-delete-confirm-buttons * {
  margin: 0 01rem 0.8rem 0;
}